.Business {
  height: 350px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.Business img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.Business h3 {
  margin-bottom: 1rem;
}
.business-info {
  padding: 1rem;
}
.business-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.business-address {
  font-size: 0.8rem;
  color: #555;
}
.business-details {
  text-align: right;
  font-size: 0.8rem;
}
.business-details .rating,
.business-details .category {
  color: saddlebrown;
  font-weight: bold;
}
.business-details .category {
  font-size: 1rem;
}
@media (max-width: 768px) {
  .Business {
    height: 320px;
  }

  .Business img {
    height: 180px;
  }

  .business-info {
    padding: 0.8rem;
  }

  .Business h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 480px) {
  .Business {
    margin: 0 10px;
  }
  .Business img {
    height: 150px;
  }

  .business-content {
  }
  .business-address,
  .business-details {
    font-size: 1rem;
  }
}
