* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  max-width: 1200px;
}
.search-bar {
  margin-bottom: 2rem;
}
.business-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}
